/* Navigation.css */

ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #333;
  height: 60px;
}


li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
}

a:hover {
  background-color: #555;
}

button {
  background-color: #ff4500;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
}

button:hover {
  background-color: #e63900;
}
